# Ignore data files (raw, processed, downloaded)
Data/Raw/
Data/Processed/
Data/External/

# Ignore environment folders
.venv/
env/
venv/
__pycache__/
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore model or large output files
*.pkl
*.h5
*.joblib

# Ignore log files
*.log

# Ignore any old zip/tar/rar files
*.zip
*.tar.gz
*.rar

# Ignore Streamlit cache
.streamlit/

# Ignore VSCode or PyCharm configs
.vscode/
.idea/
