
## `requirements.txt`

# This file is used to install the required packages for the Streamlit app.
streamlit>=1.12.0
textblob
nltk
pandas
matplotlib
seaborn
geopandas
rasterio
scikit-learn
wordcloud
gdown
rich
markdown-it-py
pygments
mdurl
