
## `requirements.txt`

# This file is used to install the required packages for the Streamlit app.
streamlit
pandas
matplotlib
seaborn
geopandas
rasterio
scikit-learn
wordcloud
nltk
gdown
textblob
App Link : https://omdenanic-first-proj-voq7ev3gd9cm3qvuz62kdk.streamlit.app/